Repository ScopeCreep-zip/open-sesame: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, rust-clippy, toml-format, toml-lint, markdown-lint, markdown-links, shell-lint, shell-format, actions-lint

lefthook.yml:

# lefthook.yml - Git hooks for Open Sesame
# https://github.com/evilmartians/lefthook
min_version: 1.12.0
assert_lefthook_installed: true
colors: true
no_tty: false

output:
  - execution_info
  - success
  - failure
  - summary

# Pre-commit hook - Quality gates before committing
pre-commit:
  parallel: true
  commands:
    # Rust checks
    rust-format:
      glob: "*.rs"
      run: cargo fmt --check
      tags: [rust, format]
      fail_text: |
        Rust format check failed.
        Fix with: cargo fmt

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
      tags: [rust, lint]
      fail_text: |
        Clippy check failed.
        Fix warnings before committing.

    # TOML validation
    toml-format:
      glob: "*.toml"
      run: taplo fmt --check {staged_files}
      tags: [config, toml]
      fail_text: |
        TOML format check failed.
        Fix with: taplo fmt

    toml-lint:
      glob: "*.toml"
      run: taplo lint {staged_files}
      tags: [config, toml]
      fail_text: |
        TOML validation failed.
        Check syntax in TOML files.

    # Markdown checks
    markdown-lint:
      glob: "*.md"
      run: markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
      tags: [docs, markdown]
      fail_text: |
        Markdown style check failed.
        Fix with: markdownlint-cli2 --fix [files]

    markdown-links:
      glob: "*.md"
      run: lychee --offline {staged_files}
      tags: [docs, links]
      skip:
        - merge
        - rebase
      fail_text: |
        Broken links detected in markdown files.
        Run: lychee [files] for details.

    # Shell script checks
    shell-lint:
      glob: "*.sh"
      run: shellcheck {staged_files}
      tags: [bash, lint]
      fail_text: |
        Shell script lint failed.
        Fix issues reported by shellcheck.

    shell-format:
      glob: "*.sh"
      run: shfmt -d {staged_files}
      tags: [bash, format]
      fail_text: |
        Shell format check failed.
        Fix with: shfmt -w [files]

    # GitHub Actions
    actions-lint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
      tags: [ci, github]
      fail_text: |
        GitHub Actions validation failed.
        Check syntax in workflow files.

# Pre-push hook - Heavier validation before pushing
pre-push:
  parallel: true
  commands:
    test-suite:
      run: cargo test
      tags: [test]
      skip:
        - rebase
      fail_text: |
        Tests failed.
        Run: cargo test

    cargo-check:
      run: cargo check --all-targets --all-features
      tags: [rust, check]
      fail_text: |
        Cargo check failed.
        Run: cargo check --all-targets --all-features

    link-check:
      run: mise exec -- lychee --offline '**/*.md'
      tags: [docs, links]
      only:
        - ref: main
        - ref: master
      fail_text: |
        Link validation failed.
        Run: mise exec -- lychee '**/*.md'

# Commit message validation for conventional commits
commit-msg:
  commands:
    conventional-commits:
      run: npx commitlint --edit {1}
      fail_text: |
        Commit message does not follow conventional commits format.
        Format: <type>(<scope>): <subject>
        Types: feat, fix, perf, revert, docs, style, refactor, test, build, ci, chore

# Post-merge hook - Update after merging
post-merge:
  commands:
    cargo-update:
      run: cargo fetch
      tags: [deps]

fix(init): sanitize LD_LIBRARY_PATH for systemctl subprocess invocations
  flake.lock
  open-sesame/src/doctor/daemon.rs
  open-sesame/src/init.rs
Due: rust-format, rust-clippy

fix(network): structural decomposition, discovery lifecycle, test coverage hardening
  .mise.toml
  daemon-discovery/src/manager.rs
  daemon-discovery/src/mdns/listen.rs
  daemon-discovery/src/queue.rs
  daemon-launcher/src/launch.rs
  daemon-network/Cargo.toml
  daemon-network/src/dispatch/discovery.rs
  daemon-network/src/dispatch/ipc.rs
  daemon-network/src/dispatch/mod.rs
  daemon-network/src/dispatch/tcp.rs
  daemon-network/src/dispatch/udp.rs
  daemon-network/src/handshake.rs
  daemon-network/src/lib.rs
  daemon-network/src/lifecycle.rs
  daemon-network/src/main.rs
  daemon-network/src/noise/state.rs
  daemon-network/src/send.rs
  daemon-network/src/state.rs
  daemon-network/tests/integration/common/mod.rs
  daemon-network/tests/integration/common/test_daemon.rs
  daemon-network/tests/integration/discovery.rs
  daemon-network/tests/integration/flood.rs
  daemon-network/tests/integration/lifecycle.rs
  daemon-network/tests/integration/two_peer.rs
  daemon-secrets/src/crud.rs
  daemon-secrets/src/vault_log.rs
  daemon-wm/src/commands.rs
  daemon-wm/src/commands_unlock.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(federation): gossip authentication, TOFU pin TTL, AEAD-gated state mutations, Noise XX test vectors
  Cargo.lock
  Cargo.toml
  core-types/src/events.rs
  daemon-discovery/Cargo.toml
  daemon-discovery/src/bootstrap.rs
  daemon-discovery/src/queue.rs
  daemon-network/Cargo.toml
  daemon-network/src/dispatch/discovery.rs
  daemon-network/src/dispatch/ipc.rs
  daemon-network/src/dispatch/udp.rs
  daemon-network/src/handshake.rs
  daemon-network/src/lifecycle.rs
  daemon-network/src/main.rs
  daemon-network/src/send.rs
  daemon-network/src/session/replay.rs
  daemon-network/src/state.rs
  daemon-network/src/tofu/store.rs
  daemon-network/tests/integration/common/test_daemon.rs
  daemon-network/tests/integration/discovery.rs
  daemon-network/tests/integration/lifecycle.rs
  daemon-network/tests/integration/noise_vectors.rs
  daemon-profile/src/dispatch.rs
  open-sesame/Cargo.toml
  open-sesame/src/cli.rs
  open-sesame/src/doctor/daemon.rs
  open-sesame/src/network.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

feat(federation): vault replication pipeline with re-encryption and signature binding
  Cargo.lock
  core-config/src/schema.rs
  core-config/src/schema_vault_sync.rs
  core-crypto/Cargo.toml
  core-crypto/src/network.rs
  core-crypto/tests/replication_envelope.rs
  core-fuzzy/benches/fuzzy_bench.rs
  core-types/src/events.rs
  core-types/src/network.rs
  daemon-network/Cargo.toml
  daemon-network/src/dispatch/ipc.rs
  daemon-network/src/dispatch/tcp.rs
  daemon-network/src/dispatch/udp.rs
  daemon-network/src/lifecycle.rs
  daemon-network/src/main.rs
  daemon-network/src/state.rs
  daemon-network/src/tofu/store.rs
  daemon-network/tests/integration/common/test_daemon.rs
  daemon-profile/src/dispatch.rs
  daemon-secrets/Cargo.toml
  daemon-secrets/src/acl.rs
  daemon-secrets/src/crud.rs
  daemon-secrets/src/dispatch.rs
  daemon-secrets/src/keyring.rs
  daemon-secrets/src/lib.rs
  daemon-secrets/src/main.rs
  daemon-secrets/src/network_identity.rs
  daemon-secrets/src/rate_limit.rs
  daemon-secrets/src/sandbox.rs
  daemon-secrets/src/unlock.rs
  daemon-secrets/src/vault.rs
  daemon-secrets/src/vault_log.rs
  daemon-secrets/tests/replication_pipeline.rs
  open-sesame/src/doctor/daemon.rs
  open-sesame/src/workspace.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(security): transactional compaction, replay dedup, sender auth hardening
  daemon-secrets/src/crud.rs
  daemon-secrets/src/dispatch.rs
  daemon-secrets/src/main.rs
  daemon-secrets/src/vault_log.rs
  flake.nix
Due: rust-format, rust-clippy

fix(doctor): non-blocking IPC health check, network module option in home-manager
  flake.nix
  open-sesame/src/doctor/daemon.rs
Due: rust-format, rust-clippy

fix(config): unified config.toml loading, POSIX precedence, config.d drop-ins
  core-config/src/loader.rs
  core-config/src/schema.rs
  daemon-network/src/config.rs
  daemon-network/src/dispatch/ipc.rs
  daemon-network/src/main.rs
  daemon-secrets/src/dispatch.rs
Due: rust-format, rust-clippy

fix(network): add state directory to sandbox write allowlist
  contrib/systemd/open-sesame-network.service
  flake.nix
Due: none

fix(doctor): async IPC health check, eliminate current_thread deadlock
  open-sesame/src/doctor/daemon.rs
  open-sesame/src/doctor/mod.rs
  open-sesame/src/main.rs
Due: rust-format, rust-clippy

perf(build): nightly toolchain, Cranelift, parallel frontend, mold, dep optimization
  .cargo/config.toml
  Cargo.toml
  flake.nix
  nix/package-desktop.nix
  nix/package.nix
  rust-toolchain.toml
Due: toml-format, toml-lint

fix(build): rename release-dev profile to release_dev
  .mise.toml
  Cargo.toml
  nix/package-desktop.nix
  nix/package.nix
Due: toml-format, toml-lint

fix(mise): dev profile as default build, release as explicit target
  .mise.toml
Due: toml-format, toml-lint

perf(build): cargo-hakari, mold in Nix builder, feature-gated crypto, lefthook
  .config/hakari.toml
  .mise.toml
  Cargo.lock
  Cargo.toml
  core-auth/Cargo.toml
  core-config/Cargo.toml
  core-crypto/Cargo.toml
  core-crypto/src/network.rs
  core-fuzzy/Cargo.toml
  core-ipc/Cargo.toml
  core-memory/Cargo.toml
  core-profile/Cargo.toml
  core-secrets/Cargo.toml
  core-types/Cargo.toml
  daemon-clipboard/Cargo.toml
  daemon-discovery/Cargo.toml
  daemon-input/Cargo.toml
  daemon-launcher/Cargo.toml
  daemon-network/Cargo.toml
  daemon-profile/Cargo.toml
  daemon-secrets/Cargo.toml
  daemon-snippets/Cargo.toml
  daemon-wm/Cargo.toml
  extension-host/Cargo.toml
  extension-sdk/Cargo.toml
  flake.nix
  lefthook.yml
  nix/package-desktop.nix
  nix/package.nix
  open-sesame/Cargo.toml
  platform-linux/Cargo.toml
  platform-macos/Cargo.toml
  platform-windows/Cargo.toml
  sesame-workspace/Cargo.toml
  workspace-hack/.gitattributes
  workspace-hack/Cargo.toml
  workspace-hack/build.rs
  workspace-hack/src/lib.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(ci): switch all GHA workflows from mise-action to nix develop
  .github/workflows/docs.yml
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .mise.toml
  flake.nix
Due: toml-format, toml-lint, actions-lint

fix(nix): add workspace-hack to source filter in package.nix
  nix/package-desktop.nix
  nix/package.nix
Due: none

fix(security): signing key pinning, compaction validation, deferral tombstone, discover timeout
  daemon-network/src/handshake.rs
  daemon-network/src/tofu/store.rs
  daemon-secrets/src/unlock.rs
  daemon-secrets/src/vault_log.rs
  open-sesame/src/network.rs
Due: rust-format, rust-clippy

fix(security): header-as-AEAD-AAD via snow git pin, config defaults match reality
  Cargo.lock
  Cargo.toml
  core-config/src/schema_crypto.rs
  daemon-network/src/dispatch/tcp.rs
  daemon-network/src/dispatch/udp.rs
  daemon-network/src/noise/state.rs
  daemon-network/src/send.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(security): network sandbox enforcement, routable IP for BEP-44
  daemon-network/src/main.rs
  daemon-network/src/sandbox.rs
Due: rust-format, rust-clippy

fix(security): DNS SRV trust model documentation, e2e test scaffold
  daemon-discovery/src/dns_srv.rs
  daemon-network/Cargo.toml
  daemon-network/tests/integration/e2e_two_process.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(nix): add snow git dep output hash for cargo vendor
  nix/package-desktop.nix
  nix/package.nix
Due: none

feat(theme,launcher): COSMIC v2 theme support, frosted glass, reliable app launching
  Cargo.lock
  daemon-launcher/Cargo.toml
  daemon-launcher/src/launch.rs
  daemon-wm/src/render.rs
  platform-linux/src/cosmic_theme.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  d31bedebe97ac62fca36c5b5416ba647a650ea27
Due: none

chore(deps): bump rust-toolchain to 1.97, update all dependencies
  rust-toolchain.toml
Due: toml-format, toml-lint

style: apply rustfmt 1.97 formatting
  daemon-launcher/src/launch.rs
  daemon-wm/src/render.rs
  platform-linux/src/cosmic_theme.rs
Due: rust-format, rust-clippy

fix(clippy): use sort_by_key with Reverse for rustc 1.97 unnecessary_sort_by lint
  core-profile/src/context.rs
Due: rust-format, rust-clippy

chore(release): 1.10.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  0fbe5d76ae9f289de4a3e153fb914ec7bab7c40a
Due: none

fix(clippy): resolve map_unwrap_or, manual_is_variant_and, and redundant_closure lints
  core-auth/src/password.rs
  core-auth/src/ssh.rs
  sesame-workspace/src/forge/github.rs
Due: rust-format, rust-clippy

chore(release): 1.10.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  59c704eb930f955799218d32c07dff143a44dcab
Due: none

feat(wm): native COSMIC theme integration for overlay background and selection
  daemon-wm/src/render.rs
Due: rust-format, rust-clippy

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  f223349e92087d5283c31dd92dc68963443b7418
Due: none

fix(nix): update cosmic-protocols outputHash after upstream force-push
  nix/package-desktop.nix
  nix/package.nix
Due: none

feat(wm): reload COSMIC theme on every activation cycle
  daemon-wm/src/main.rs
Due: rust-format, rust-clippy

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  c9705bb2cdf8ed653447dce94b6a37767f16e43d
Due: none

fix(deps): pin kstring to 2.0.2 for nix build compatibility
  Cargo.lock
Due: none
