Repository ScopeCreep-zip/open-sesame: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, rust-clippy, toml-format, toml-lint, markdown-lint, markdown-links, shell-lint, shell-format, actions-lint

lefthook.yml:

# lefthook.yml - Git hooks for Open Sesame
# https://github.com/evilmartians/lefthook
min_version: 1.12.0
assert_lefthook_installed: true
colors: true
no_tty: false

output:
  - execution_info
  - success
  - failure
  - summary

# Pre-commit hook - Quality gates before committing
pre-commit:
  parallel: true
  commands:
    # Rust checks
    rust-format:
      glob: "*.rs"
      run: cargo fmt --check
      tags: [rust, format]
      fail_text: |
        Rust format check failed.
        Fix with: cargo fmt

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
      tags: [rust, lint]
      fail_text: |
        Clippy check failed.
        Fix warnings before committing.

    # TOML validation
    toml-format:
      glob: "*.toml"
      run: taplo fmt --check {staged_files}
      tags: [config, toml]
      fail_text: |
        TOML format check failed.
        Fix with: taplo fmt

    toml-lint:
      glob: "*.toml"
      run: taplo lint {staged_files}
      tags: [config, toml]
      fail_text: |
        TOML validation failed.
        Check syntax in TOML files.

    # Markdown checks
    markdown-lint:
      glob: "*.md"
      run: markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
      tags: [docs, markdown]
      fail_text: |
        Markdown style check failed.
        Fix with: markdownlint-cli2 --fix [files]

    markdown-links:
      glob: "*.md"
      run: lychee --offline {staged_files}
      tags: [docs, links]
      skip:
        - merge
        - rebase
      fail_text: |
        Broken links detected in markdown files.
        Run: lychee [files] for details.

    # Shell script checks
    shell-lint:
      glob: "*.sh"
      run: shellcheck {staged_files}
      tags: [bash, lint]
      fail_text: |
        Shell script lint failed.
        Fix issues reported by shellcheck.

    shell-format:
      glob: "*.sh"
      run: shfmt -d {staged_files}
      tags: [bash, format]
      fail_text: |
        Shell format check failed.
        Fix with: shfmt -w [files]

    # GitHub Actions
    actions-lint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
      tags: [ci, github]
      fail_text: |
        GitHub Actions validation failed.
        Check syntax in workflow files.

# Pre-push hook - Heavier validation before pushing
pre-push:
  parallel: true
  commands:
    test-suite:
      run: cargo test
      tags: [test]
      skip:
        - rebase
      fail_text: |
        Tests failed.
        Run: cargo test

    cargo-check:
      run: cargo check --all-targets --all-features
      tags: [rust, check]
      fail_text: |
        Cargo check failed.
        Run: cargo check --all-targets --all-features

    link-check:
      run: mise exec -- lychee --offline '**/*.md'
      tags: [docs, links]
      only:
        - ref: main
        - ref: master
      fail_text: |
        Link validation failed.
        Run: mise exec -- lychee '**/*.md'

# Commit message validation for conventional commits
commit-msg:
  commands:
    conventional-commits:
      run: npx commitlint --edit {1}
      fail_text: |
        Commit message does not follow conventional commits format.
        Format: <type>(<scope>): <subject>
        Types: feat, fix, perf, revert, docs, style, refactor, test, build, ci, chore

# Post-merge hook - Update after merging
post-merge:
  commands:
    cargo-update:
      run: cargo fetch
      tags: [deps]

chore(release): 1.12.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  3c4f587b09f99101d437fc28215b31e3dadd1582
Due: none

feat(nix): consume konductor as SSOT for rust toolchain
  flake.lock
  flake.nix
  nix/package-desktop.nix
  nix/package.nix
Due: none

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  b694b6d94087af9c9e23cfc36432148bb1dedf13
Due: none

feat(wm): COSMIC-native overlay with blur, system theme, and modular surface
  Cargo.lock
  Cargo.toml
  daemon-launcher/Cargo.toml
  daemon-launcher/src/launch.rs
  daemon-wm/Cargo.toml
  daemon-wm/src/lib.rs
  daemon-wm/src/overlay.rs
  daemon-wm/src/render.rs
  daemon-wm/src/render/layout.rs
  daemon-wm/src/render/mod.rs
  daemon-wm/src/render/primitives.rs
  daemon-wm/src/render/text.rs
  daemon-wm/src/sandbox.rs
  daemon-wm/src/surface/mod.rs
  daemon-wm/src/surface/wayland/app.rs
  daemon-wm/src/surface/wayland/blur.rs
  daemon-wm/src/surface/wayland/commands.rs
  daemon-wm/src/surface/wayland/compositor.rs
  daemon-wm/src/surface/wayland/event_loop.rs
  daemon-wm/src/surface/wayland/keyboard.rs
  daemon-wm/src/surface/wayland/mod.rs
  daemon-wm/src/surface/wayland/poll.rs
  daemon-wm/src/surface/wayland/render_frame.rs
  platform-linux/Cargo.toml
  platform-linux/src/cosmic_theme.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  c56286b67f38e23150815fc2fee461f9cda4e5fd
Due: none

fix(nix): add outputHashes for libcosmic git deps, gate cosmic_theme on feature
  nix/package-desktop.nix
  nix/package.nix
  platform-linux/src/lib.rs
Due: rust-format, rust-clippy

chore(release): 1.14.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  cf44d33eea68d0ec6838965c5625271fad47a832
Due: none

fix(nix): update cosmic-theme outputHash for libcosmic rev ef162b8
  nix/package-desktop.nix
  nix/package.nix
Due: none

chore(release): 1.14.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  5bd74188cf98de6b9db7a8f5ec52ff31945fe54f
Due: none

chore(update) nix flake update
  flake.lock
Due: none

docs(readme): add sirredbeard github-pages-rpm-repo acknowledgment
  README.md
Due: markdown-lint, markdown-links

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  6ad7141a2fe8adfa49002ece35b760d2996cb706
Due: none

fix(ci): extract build-rpm.sh, add jq/nix-cache, gate release on test workflow
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .mise.toml
  flake.nix
  scripts/rpm/build-rpm.sh
Due: toml-format, toml-lint, shell-lint, shell-format, actions-lint

fix(ci): extract build-rpm.sh, add jq/nix-cache, gate release on test workflow (#29)
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .mise.toml
  flake.nix
  scripts/rpm/build-rpm.sh
Due: toml-format, toml-lint, shell-lint, shell-format, actions-lint

chore(release): 1.15.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  9bbd40facf24fa8b1a7e2f67970fbadd7aef4e11
Due: none

fix(nix,docs): update cosmic-protocols outputHash, add DNF to Quick Start
  README.md
  nix/package-desktop.nix
  nix/package.nix
Due: markdown-lint, markdown-links

fix(nix,docs): update cosmic-protocols outputHash, add DNF to Quick Start (#30)
  README.md
  nix/package-desktop.nix
  nix/package.nix
Due: markdown-lint, markdown-links

chore(release): 1.15.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  7d444c739c58cc926bd6a6bc6be68289ae201d37
Due: none

fix(nix): update cosmic-theme outputHash after upstream libcosmic force-push
  nix/package-desktop.nix
  nix/package.nix
Due: none

fix(nix): update cosmic-theme outputHash after upstream libcosmic force-push (#31)
  nix/package-desktop.nix
  nix/package.nix
Due: none

fix(ci): extract rename-rpm.sh to avoid mise 2026.9.0 Tera template parser conflict
  .mise.toml
  scripts/rpm/rename-rpm.sh
Due: toml-format, toml-lint, shell-lint, shell-format

chore(release): 1.15.3 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  2bd7aa46608ab216c6043177483c09a70d834b76
Due: none

test(docker): add compose-based deb and rpm install verification
  .config/docker/Dockerfile.fedora
  .config/docker/Dockerfile.ubuntu
  .config/docker/compose.yml
Due: none

test(docker): systemd user services via PAM override, ssh-agent, sesame-init
  .config/docker/Dockerfile.fedora
  .config/docker/Dockerfile.ubuntu
  .config/docker/compose.yml
  .config/docker/data/common/etc/pam.d/systemd-user
  .config/docker/data/fedora/etc/systemd/system/sesame-init.service
  .config/docker/data/fedora/etc/systemd/system/ssh-agent.service
  .config/docker/data/fedora/usr/local/bin/sesame-init.sh
  .config/docker/data/ubuntu/etc/systemd/system/sesame-init.service
  .config/docker/data/ubuntu/etc/systemd/system/ssh-agent.service
  .config/docker/data/ubuntu/usr/local/bin/sesame-init.sh
Due: shell-lint, shell-format

feat(arch): add Arch Linux packaging, AUR PKGBUILDs, pacman repo, and release pipeline
  .config/docker/Dockerfile.arch
  .config/docker/compose.yml
  .github/templates/RELEASE_BODY.md
  .github/templates/RELEASE_HEADER.md
  .github/templates/index.html
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .mise.toml
  README.md
  aur/README.md
  aur/open-sesame-bin/LICENSE
  aur/open-sesame-bin/PKGBUILD
  aur/open-sesame-bin/open-sesame-bin.install
  aur/open-sesame-bin/open-sesame-desktop-bin.install
  aur/open-sesame/LICENSE
  aur/open-sesame/PKGBUILD
  aur/open-sesame/open-sesame-desktop.install
  aur/open-sesame/open-sesame.install
  docs/src/SUMMARY.md
  docs/src/packaging/arch.md
  docs/src/packaging/distribution.md
  docs/src/packaging/new-distributions.md
  example/open-sesame-pacman.conf
  example/open-sesame.repo
  scripts/arch/build-pkg.sh
  scripts/arch/build-tarball.sh
  scripts/arch/generate-arch-repo.sh
  scripts/arch/update-pkgbuild.sh
  scripts/release/generate-checksums.sh
  scripts/release/verify-deployment.sh
Due: toml-format, toml-lint, markdown-lint, markdown-links, shell-lint, shell-format, actions-lint

test(arch): add local build, namcap lint, and install verification tasks
  .github/workflows/test.yml
  .mise.toml
  aur/open-sesame-bin/PKGBUILD
  aur/open-sesame/PKGBUILD
  scripts/arch/build-tarball.sh
  scripts/arch/lint-pkgbuild.sh
  scripts/arch/test-install.sh
Due: toml-format, toml-lint, shell-lint, shell-format, actions-lint

refactor: deduplicate scriptlet helpers, patchelf, version detection, and Docker data
  .config/docker/Dockerfile.arch
  .config/docker/Dockerfile.fedora
  .config/docker/Dockerfile.ubuntu
  .config/docker/compose.yml
  .config/docker/data/common/usr/local/bin/sesame-init.sh
  .config/docker/data/ubuntu/usr/local/bin/sesame-init.sh
  .gitignore
  .mise.toml
  scripts/arch/build-tarball.sh
  scripts/common/cargo-version.sh
  scripts/common/scriptlet-helpers.sh
  scripts/desktop/postinst.body
  scripts/desktop/postrm.body
  scripts/desktop/prerm.body
  scripts/postinst.body
  scripts/postrm.body
  scripts/prerm.body
  scripts/rpm/build-rpm.sh
  scripts/rpm/common.sh
  scripts/rpm/desktop/postinst
  scripts/rpm/desktop/postrm
  scripts/rpm/desktop/posttrans
  scripts/rpm/desktop/prerm
  scripts/rpm/postinst
  scripts/rpm/postrm
  scripts/rpm/posttrans
  scripts/rpm/prerm
Due: toml-format, toml-lint, shell-lint, shell-format

ci(aur): disable AUR push until registration reopens
  .github/workflows/release.yml
Due: actions-lint
