Repository ScopeCreep-zip/open-sesame: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, rust-clippy, toml-format, toml-lint, markdown-lint, markdown-links, shell-lint, shell-format, actions-lint

rust-format:
  run: cargo fmt --check
  tags:
  - rust
  - format
  fail_text: 'Rust format check failed.
  
    Fix with: cargo fmt
  
    '

rust-clippy:
  run: cargo clippy --all-targets --all-features -- -D warnings
  tags:
  - rust
  - lint
  fail_text: 'Clippy check failed.
  
    Fix warnings before committing.
  
    '

toml-format:
  run: taplo fmt --check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML format check failed.
  
    Fix with: taplo fmt
  
    '

toml-lint:
  run: taplo lint {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    Check syntax in TOML files.
  
    '

markdown-lint:
  run: markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    Fix with: markdownlint-cli2 --fix [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - links
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected in markdown files.
  
    Run: lychee [files] for details.
  
    '

shell-lint:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell script lint failed.
  
    Fix issues reported by shellcheck.
  
    '

shell-format:
  run: shfmt -d {staged_files}
  tags:
  - bash
  - format
  fail_text: 'Shell format check failed.
  
    Fix with: shfmt -w [files]
  
    '

actions-lint:
  run: actionlint {staged_files}
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    Check syntax in workflow files.
  
    '

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: markdown-lint, markdown-links

Notes added by 'git notes add'
  5cd4e525cb8cd8e9b2c87bccf249daf61d73b05b
Due: none

docs: add apt repo setup to quick example in introduction.md
  docs/src/introduction.md
Due: markdown-lint, markdown-links

feat: add slsa level 3 badge to readme and docs
  README.md
  docs/src/introduction.md
Due: markdown-lint, markdown-links

Notes added by 'git notes add'
  db279f72b4ebd30c7832f1491b8f3f00a1ebb4df
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

feat: add screenshot to readme and docs
  README.md
  docs/src/introduction.md
  docs/src/open-sesame-screenshot.png
Due: markdown-lint, markdown-links

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  154eb72a83a85fcfc487d107bb88d53f97d5faad
Due: none

fix(sandbox): add getdents64 syscall, use WAYLAND_DISPLAY for wm
  daemon-profile/src/main.rs
  daemon-secrets/src/main.rs
  daemon-wm/src/main.rs
Due: rust-format, rust-clippy

fix(systemd): preserve NOTIFY_SOCKET for watchdog keepalives
  platform-linux/src/systemd.rs
Due: rust-format, rust-clippy

fix(sandbox): use ReadWriteFile for D-Bus socket in daemon-secrets
  daemon-secrets/src/main.rs
Due: rust-format, rust-clippy

fix(nix): add GTK4/Cairo/Pango/glib build inputs to package.nix
  nix/package.nix
Due: none

fix(sandbox): upgrade Landlock ABI V3 to V6 for kernel 6.12+ compatibility
  platform-linux/src/sandbox.rs
Due: rust-format, rust-clippy

fix(sandbox): fstat PathFd to strip directory-only flags on non-directory inodes
  platform-linux/src/sandbox.rs
Due: rust-format, rust-clippy

feat(init): add `sesame init` OOBE command, fix daemon-wm sandbox for GTK4
  daemon-wm/src/main.rs
  nix/package.nix
  open-sesame/src/init.rs
  open-sesame/src/main.rs
  platform-linux/src/sandbox.rs
Due: rust-format, rust-clippy

debug(seccomp): temporarily switch to Log action for syscall audit
  platform-linux/src/sandbox.rs
Due: rust-format, rust-clippy

fix(compositor): serialize Wayland protocol operations, reduce poll rate
  daemon-wm/src/main.rs
  platform-linux/src/compositor.rs
Due: rust-format, rust-clippy

fix(compositor): remove activate() protocol cleanup that crashes cosmic-comp
  platform-linux/src/compositor.rs
Due: rust-format, rust-clippy

fix(init): recover from systemd failed state after wipe-reset cycle
  daemon-profile/src/main.rs
  open-sesame/src/init.rs
Due: rust-format, rust-clippy

fix(sandbox): ensure runtime dir exists before Landlock PathFd
  daemon-profile/src/main.rs
Due: rust-format, rust-clippy

fix(keybindings): write to correct COSMIC shortcuts path
  platform-linux/src/cosmic_keys.rs
Due: rust-format, rust-clippy

feat(security): harden secret operations and clean up spec references
  AGENT_ANALYSIS.adversarial-security-review.md
  core-config/src/schema.rs
  core-crypto/src/kdf.rs
  core-ipc/src/client.rs
  core-ipc/src/framing.rs
  core-ipc/src/message.rs
  core-ipc/src/noise.rs
  core-ipc/src/registry.rs
  core-ipc/src/server.rs
  core-ipc/tests/daemon_keypair.rs
  core-ipc/tests/socket_integration.rs
  core-profile/src/audit.rs
  core-profile/src/lib.rs
  core-secrets/src/sqlcipher.rs
  core-types/src/lib.rs
  daemon-launcher/src/main.rs
  daemon-profile/src/activation.rs
  daemon-profile/src/main.rs
  daemon-secrets/src/acl.rs
  daemon-secrets/src/main.rs
  daemon-secrets/src/rate_limit.rs
  daemon-wm/src/main.rs
  open-sesame/src/main.rs
  platform-linux/src/security.rs
Due: rust-format, rust-clippy, markdown-lint, markdown-links

fix(profile,nix): validate profile names and fix HM config path
  daemon-profile/src/main.rs
  flake.nix
Due: rust-format, rust-clippy

fix(launcher,secrets,nix): omnibus bug/UX remediation from manual test sweep
  core-types/src/lib.rs
  daemon-launcher/src/main.rs
  daemon-launcher/src/scanner.rs
  daemon-profile/src/main.rs
  flake.nix
  open-sesame/src/main.rs
Due: rust-format, rust-clippy

fix(launcher): skip Landlock entirely so spawned apps inherit clean sandbox
  daemon-launcher/src/main.rs
  open-sesame/src/main.rs
Due: rust-format, rust-clippy

fix(wm): publish overlay events at Internal level, add backward overlay variant
  core-ipc/tests/socket_integration.rs
  core-types/src/lib.rs
  daemon-wm/src/main.rs
  open-sesame/src/main.rs
  platform-linux/src/cosmic_keys.rs
Due: rust-format, rust-clippy

fix(wm): sync layer-shell unmap before activation and add sysfs Landlock rules
  daemon-wm/src/main.rs
  daemon-wm/src/overlay.rs
Due: rust-format, rust-clippy

feat(wm): dynamic KeyboardMode, re-activation cycling, MRU seeding, space key
  daemon-wm/src/main.rs
  daemon-wm/src/mru.rs
  daemon-wm/src/overlay.rs
  daemon-wm/src/state.rs
  daemon-wm/tests/wm_integration.rs
Due: rust-format, rust-clippy

fix(wm): quick-switch on fast alt release, non-blocking border hint
  daemon-wm/src/main.rs
  daemon-wm/src/state.rs
  daemon-wm/tests/wm_integration.rs
Due: rust-format, rust-clippy

fix(wm): defer overlay display for invisible quick-switch on fast alt+tab
  daemon-wm/src/main.rs
Due: rust-format, rust-clippy

refactor(wm): replace imperative state machine with deterministic controller
  daemon-wm/src/controller.rs
  daemon-wm/src/lib.rs
  daemon-wm/src/main.rs
  daemon-wm/src/state.rs
  daemon-wm/tests/wm_integration.rs
Due: rust-format, rust-clippy

fix(platform): override COSMIC system_actions for Alt+Tab instead of competing Spawn bindings
  platform-linux/src/cosmic_keys.rs
Due: rust-format, rust-clippy

fix(wm): add modifier poll grace period and launcher mode ignores Alt release
  daemon-wm/src/controller.rs
  daemon-wm/src/overlay.rs
  daemon-wm/tests/wm_integration.rs
Due: rust-format, rust-clippy

fix(wm): rotate origin window to bottom of picker display order
  daemon-wm/src/controller.rs
Due: rust-format, rust-clippy

feat(launcher): composable launch profiles with secret injection and devshell wrapping
  core-config/src/loader.rs
  core-config/src/schema.rs
  core-config/src/validation.rs
  core-ipc/tests/socket_integration.rs
  core-types/src/lib.rs
  daemon-launcher/src/main.rs
  daemon-wm/src/controller.rs
  daemon-wm/src/hints.rs
  daemon-wm/src/main.rs
  daemon-wm/tests/wm_integration.rs
  open-sesame/src/main.rs
Due: rust-format, rust-clippy

fix(wm): use brief Armed dwell in launcher mode for keyboard focus acquisition
  daemon-wm/src/controller.rs
  daemon-wm/tests/wm_integration.rs
Due: rust-format, rust-clippy

feat(nix): add multi-profile and launch profiles support to home-manager module
  flake.nix
Due: none

feat(wm): structured launch error feedback with overlay toast
  core-ipc/tests/socket_integration.rs
  core-types/src/lib.rs
  daemon-launcher/src/main.rs
  daemon-secrets/src/main.rs
  daemon-wm/src/controller.rs
  daemon-wm/src/main.rs
  daemon-wm/src/overlay.rs
  daemon-wm/src/render.rs
  daemon-wm/tests/wm_integration.rs
  open-sesame/src/main.rs
Due: rust-format, rust-clippy

Path conditions:
  rust-format: any of: *.rs
  rust-clippy: any of: *.rs
  toml-format: any of: *.toml
  toml-lint: any of: *.toml
  markdown-lint: any of: *.md
  markdown-links: any of: *.md
  shell-lint: any of: *.sh
  shell-format: any of: *.sh
  actions-lint: any of: .github/workflows/*.{yml,yaml}
