Repository ScopeCreep-zip/open-sesame: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, rust-clippy, toml-format, toml-lint, markdown-lint, markdown-links, shell-lint, shell-format, actions-lint

lefthook.yml:

# lefthook.yml - Git hooks for Open Sesame
# https://github.com/evilmartians/lefthook
min_version: 1.12.0
assert_lefthook_installed: true
colors: true
no_tty: false

output:
  - execution_info
  - success
  - failure
  - summary

# Pre-commit hook - Quality gates before committing
pre-commit:
  parallel: true
  commands:
    # Rust checks
    rust-format:
      glob: "*.rs"
      run: cargo fmt --check
      tags: [rust, format]
      fail_text: |
        Rust format check failed.
        Fix with: cargo fmt

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
      tags: [rust, lint]
      fail_text: |
        Clippy check failed.
        Fix warnings before committing.

    # TOML validation
    toml-format:
      glob: "*.toml"
      run: taplo fmt --check {staged_files}
      tags: [config, toml]
      fail_text: |
        TOML format check failed.
        Fix with: taplo fmt

    toml-lint:
      glob: "*.toml"
      run: taplo lint {staged_files}
      tags: [config, toml]
      fail_text: |
        TOML validation failed.
        Check syntax in TOML files.

    # Markdown checks
    markdown-lint:
      glob: "*.md"
      run: markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
      tags: [docs, markdown]
      fail_text: |
        Markdown style check failed.
        Fix with: markdownlint-cli2 --fix [files]

    markdown-links:
      glob: "*.md"
      run: lychee --offline {staged_files}
      tags: [docs, links]
      skip:
        - merge
        - rebase
      fail_text: |
        Broken links detected in markdown files.
        Run: lychee [files] for details.

    # Shell script checks
    shell-lint:
      glob: "*.sh"
      run: shellcheck {staged_files}
      tags: [bash, lint]
      fail_text: |
        Shell script lint failed.
        Fix issues reported by shellcheck.

    shell-format:
      glob: "*.sh"
      run: shfmt -d {staged_files}
      tags: [bash, format]
      fail_text: |
        Shell format check failed.
        Fix with: shfmt -w [files]

    # GitHub Actions
    actions-lint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
      tags: [ci, github]
      fail_text: |
        GitHub Actions validation failed.
        Check syntax in workflow files.

# Pre-push hook - Heavier validation before pushing
pre-push:
  parallel: true
  commands:
    test-suite:
      run: cargo test
      tags: [test]
      skip:
        - rebase
      fail_text: |
        Tests failed.
        Run: cargo test

    cargo-check:
      run: cargo check --all-targets --all-features
      tags: [rust, check]
      fail_text: |
        Cargo check failed.
        Run: cargo check --all-targets --all-features

    link-check:
      run: mise exec -- lychee --offline '**/*.md'
      tags: [docs, links]
      only:
        - ref: main
        - ref: master
      fail_text: |
        Link validation failed.
        Run: mise exec -- lychee '**/*.md'

# Commit message validation for conventional commits
commit-msg:
  commands:
    conventional-commits:
      run: npx commitlint --edit {1}
      fail_text: |
        Commit message does not follow conventional commits format.
        Format: <type>(<scope>): <subject>
        Types: feat, fix, perf, revert, docs, style, refactor, test, build, ci, chore

# Post-merge hook - Update after merging
post-merge:
  commands:
    cargo-update:
      run: cargo fetch
      tags: [deps]

refactor(platform-linux): decompose compositor.rs for multi-backend support
  platform-linux/src/backend_cosmic.rs
  platform-linux/src/backend_wlr.rs
  platform-linux/src/compositor.rs
  platform-linux/src/focus_monitor.rs
  platform-linux/src/lib.rs
Due: rust-format, rust-clippy

refactor(daemon-secrets): decompose monolithic main.rs into flat module structure
  daemon-secrets/src/crud.rs
  daemon-secrets/src/dispatch.rs
  daemon-secrets/src/keyring.rs
  daemon-secrets/src/main.rs
  daemon-secrets/src/sandbox.rs
  daemon-secrets/src/unlock.rs
  daemon-secrets/src/vault.rs
Due: rust-format, rust-clippy

refactor(open-sesame): decompose monolithic main.rs into flat module structure
  open-sesame/src/audit.rs
  open-sesame/src/cli.rs
  open-sesame/src/clipboard.rs
  open-sesame/src/env.rs
  open-sesame/src/helpers.rs
  open-sesame/src/init.rs
  open-sesame/src/input.rs
  open-sesame/src/ipc.rs
  open-sesame/src/launch.rs
  open-sesame/src/main.rs
  open-sesame/src/profile.rs
  open-sesame/src/secrets.rs
  open-sesame/src/snippets.rs
  open-sesame/src/ssh.rs
  open-sesame/src/status.rs
  open-sesame/src/unlock.rs
  open-sesame/src/wm.rs
  open-sesame/src/workspace.rs
Due: rust-format, rust-clippy

refactor(core-config): decompose schema and loader into domain modules
  core-config/src/lib.rs
  core-config/src/loader.rs
  core-config/src/loader_installation.rs
  core-config/src/loader_workspace.rs
  core-config/src/schema.rs
  core-config/src/schema_agents.rs
  core-config/src/schema_crypto.rs
  core-config/src/schema_installation.rs
  core-config/src/schema_peripheral.rs
  core-config/src/schema_secrets.rs
  core-config/src/schema_wm.rs
  core-config/src/schema_workspace.rs
Due: rust-format, rust-clippy

refactor(daemon-launcher,daemon-wm): final decomposition wave
  daemon-launcher/src/launch.rs
  daemon-launcher/src/main.rs
  daemon-wm/src/commands.rs
  daemon-wm/src/commands_unlock.rs
  daemon-wm/src/lib.rs
Due: rust-format, rust-clippy

Notes added by 'git notes add'
  c61e8eb3662c47b6a178d2f6f4e49e3609dc1194
Due: none

fix(ci): strip dpkg-deb trailing blank lines from APT Packages index
  .mise.toml
  core-ipc/src/noise.rs
  open-sesame/Cargo.toml
Due: rust-format, rust-clippy, toml-format, toml-lint

Notes added by 'git notes add'
  e1ae1cf877e32fdf974527cc95826f880afb09e7
Due: none

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  d954d1c69a1daffe13916f22119f7df523d62695
Due: none

docs: rewrite README intro for progressive disclosure
  README.md
Due: markdown-lint, markdown-links

docs: comprehensive README with visual composition and progressive disclosure
  README.md
Due: markdown-lint, markdown-links

fix(docs): update GitHub Pages landing page for two-package model
  .github/templates/index.html
Due: none

feat(core-memory): page-aligned secure memory allocator with guard pages
  Cargo.lock
  Cargo.toml
  core-crypto/Cargo.toml
  core-crypto/src/lib.rs
  core-crypto/src/secure_bytes.rs
  core-crypto/src/secure_vec.rs
  core-memory/Cargo.toml
  core-memory/src/alloc.rs
  core-memory/src/lib.rs
  core-types/Cargo.toml
  core-types/src/lib.rs
  core-types/src/sensitive.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(security): eliminate heap exposure in SecureBytes-to-SensitiveBytes transfer
  core-crypto/src/secure_bytes.rs
  core-types/src/sensitive.rs
  daemon-wm/src/commands_unlock.rs
  open-sesame/src/init.rs
  open-sesame/src/unlock.rs
Due: rust-format, rust-clippy

feat(security): memfd_secret backend, zero-copy deserialization, structured audit logging
  core-crypto/src/lib.rs
  core-crypto/src/secure_bytes.rs
  core-memory/Cargo.toml
  core-memory/src/alloc.rs
  core-memory/src/lib.rs
  core-types/src/lib.rs
  core-types/src/sensitive.rs
  daemon-clipboard/src/main.rs
  daemon-input/src/main.rs
  daemon-launcher/src/main.rs
  daemon-profile/src/main.rs
  daemon-profile/src/sandbox.rs
  daemon-secrets/src/main.rs
  daemon-secrets/src/sandbox.rs
  daemon-snippets/src/main.rs
  daemon-wm/src/main.rs
  daemon-wm/src/sandbox.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(security): eliminate remaining heap copies in daemon-secrets unlock and CRUD
  daemon-secrets/src/crud.rs
  daemon-secrets/src/unlock.rs
Due: rust-format, rust-clippy

fix(ci): raise RLIMIT_MEMLOCK for ProtectedAlloc tests and builds
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: actions-lint

fix: remove unused zeroize import from daemon-secrets crud
  daemon-secrets/src/crud.rs
Due: rust-format, rust-clippy

test(core-memory): verify guard pages trigger SIGSEGV on overflow and underflow
  core-memory/tests/guard_page_sigsegv.rs
Due: rust-format, rust-clippy

fix(systemd): add LimitMEMLOCK=64M to all daemon units, improve postinst output
  contrib/systemd/open-sesame-clipboard.service
  contrib/systemd/open-sesame-input.service
  contrib/systemd/open-sesame-launcher.service
  contrib/systemd/open-sesame-profile.service
  contrib/systemd/open-sesame-snippets.service
  contrib/systemd/open-sesame-wm.service
  flake.nix
  scripts/desktop/postinst
  scripts/postinst
Due: none

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  f3efab9c70604f194eee9f838fb62238954ab73b
Due: none

fix(nix): system openssl, ExecStart paths, Cachix binary cache
  .github/workflows/nix.yml
  Cargo.lock
  Cargo.toml
  flake.lock
  flake.nix
Due: toml-format, toml-lint, actions-lint

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  e3de16dfb6f53857ceee5908cb5bed47c6f5403f
Due: none

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  b559125ee416e383137072c8d35d39116f1e10cb
Due: none

Notes added by 'git notes add'
  978b130d3d142d5f63db7214adc077dbf974040c
Due: none

docs: update README and SECURITY for memfd_secret, Cachix, core-memory
  README.md
  SECURITY.md
Due: markdown-lint, markdown-links

chore(release): 1.6.4 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  1830e487f46aba3fe270feb07cbaa1a094e677e3
Due: none

fix(ci): downgrade deploy-pages to v4, v5 does not exist
  .github/workflows/release.yml
Due: actions-lint

chore(release): 1.6.5 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  dc7ef44b10a09419f16d49864f0de3b681804ef3
Due: none

fix(docs): correct API docs link from open_sesame to sesame
  .github/templates/index.html
Due: none

chore(release): 1.6.6 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  033bfef71a6eb94945226112fcdb32b88aa99b60
Due: none
