Repository ScopeCreep-zip/open-sesame: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, rust-clippy, toml-format, toml-lint, markdown-lint, markdown-links, shell-lint, shell-format, actions-lint

lefthook.yml:

# lefthook.yml - Git hooks for Open Sesame
# https://github.com/evilmartians/lefthook
min_version: 1.12.0
assert_lefthook_installed: true
colors: true
no_tty: false

output:
  - execution_info
  - success
  - failure
  - summary

# Pre-commit hook - Quality gates before committing
pre-commit:
  parallel: true
  commands:
    # Rust checks
    rust-format:
      glob: "*.rs"
      run: cargo fmt --check
      tags: [rust, format]
      fail_text: |
        Rust format check failed.
        Fix with: cargo fmt

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
      tags: [rust, lint]
      fail_text: |
        Clippy check failed.
        Fix warnings before committing.

    # TOML validation
    toml-format:
      glob: "*.toml"
      run: taplo fmt --check {staged_files}
      tags: [config, toml]
      fail_text: |
        TOML format check failed.
        Fix with: taplo fmt

    toml-lint:
      glob: "*.toml"
      run: taplo lint {staged_files}
      tags: [config, toml]
      fail_text: |
        TOML validation failed.
        Check syntax in TOML files.

    # Markdown checks
    markdown-lint:
      glob: "*.md"
      run: markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
      tags: [docs, markdown]
      fail_text: |
        Markdown style check failed.
        Fix with: markdownlint-cli2 --fix [files]

    markdown-links:
      glob: "*.md"
      run: lychee --offline {staged_files}
      tags: [docs, links]
      skip:
        - merge
        - rebase
      fail_text: |
        Broken links detected in markdown files.
        Run: lychee [files] for details.

    # Shell script checks
    shell-lint:
      glob: "*.sh"
      run: shellcheck {staged_files}
      tags: [bash, lint]
      fail_text: |
        Shell script lint failed.
        Fix issues reported by shellcheck.

    shell-format:
      glob: "*.sh"
      run: shfmt -d {staged_files}
      tags: [bash, format]
      fail_text: |
        Shell format check failed.
        Fix with: shfmt -w [files]

    # GitHub Actions
    actions-lint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
      tags: [ci, github]
      fail_text: |
        GitHub Actions validation failed.
        Check syntax in workflow files.

# Pre-push hook - Heavier validation before pushing
pre-push:
  parallel: true
  commands:
    test-suite:
      run: cargo test
      tags: [test]
      skip:
        - rebase
      fail_text: |
        Tests failed.
        Run: cargo test

    cargo-check:
      run: cargo check --all-targets --all-features
      tags: [rust, check]
      fail_text: |
        Cargo check failed.
        Run: cargo check --all-targets --all-features

    link-check:
      run: mise exec -- lychee --offline '**/*.md'
      tags: [docs, links]
      only:
        - ref: main
        - ref: master
      fail_text: |
        Link validation failed.
        Run: mise exec -- lychee '**/*.md'

# Commit message validation for conventional commits
commit-msg:
  commands:
    conventional-commits:
      run: npx commitlint --edit {1}
      fail_text: |
        Commit message does not follow conventional commits format.
        Format: <type>(<scope>): <subject>
        Types: feat, fix, perf, revert, docs, style, refactor, test, build, ci, chore

# Post-merge hook - Update after merging
post-merge:
  commands:
    cargo-update:
      run: cargo fetch
      tags: [deps]

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  e9241a3b1faa4130fef84e756a384788e70e59eb
Due: none

fix(ci): add libarchive-tools to arch-repo setup for bsdtar
  .mise.toml
Due: toml-format, toml-lint

chore(release): 1.16.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  bb2e18cf487eff035dd333b025e9bb93c63ff371
Due: none

test(ci): add ubuntu:24.04 CI parity test for arch pkg build
  .mise.toml
  scripts/arch/test-ci-build.sh
Due: toml-format, toml-lint, shell-lint, shell-format

docs(packaging): rewrite new-distributions.md, remove duplicated Arch/RPM sections
  docs/src/packaging/new-distributions.md
Due: markdown-lint, markdown-links

chore(release): 1.16.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  10cf7e63c06fe2aa5dda0f1d1c962d3ce31295ad
Due: none

fix(ci): checkout release tag in upload-assets, publish, and aur-publish jobs
  .github/workflows/release.yml
Due: actions-lint

chore(release): 1.16.3 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  188985493f26a44d497c71b5c1f59008b51912fe
Due: none

fix(nix): update cosmic-theme outputHash after upstream libcosmic commit c3ced760
  nix/package-desktop.nix
  nix/package.nix
Due: none

chore(release): 1.16.4 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  ea7d26a00bcc04f4b181922e2d3b07ba7fd1219e
Due: none

fix(docs): replace non-functional AUR install with self-hosted pacman repo on landing page
  .github/templates/index.html
Due: none

chore(release): 1.16.5 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  7db9ec1758ed0e91404458e8b88a0628cf653d5f
Due: none

fix(nix): pin libcosmic rev in Cargo.toml, update to 6347ba2
  Cargo.lock
  Cargo.toml
  nix/package-desktop.nix
  nix/package.nix
Due: toml-format, toml-lint

chore(release): 1.16.6 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  b015f4f838f83cddf2bde97bed9f220d2d4b36ee
Due: none

feat(workspace): typed identity types, parallel inspection, proxy policy, column-based output
  Cargo.lock
  Cargo.toml
  core-config/Cargo.toml
  core-config/src/loader_workspace.rs
  core-config/src/schema.rs
  core-config/src/schema_workspace.rs
  core-workspace-types/Cargo.toml
  core-workspace-types/src/lib.rs
  core-workspace-types/src/v1/endpoint.rs
  core-workspace-types/src/v1/error.rs
  core-workspace-types/src/v1/host.rs
  core-workspace-types/src/v1/mod.rs
  core-workspace-types/src/v1/namespace.rs
  core-workspace-types/src/v1/remote.rs
  core-workspace-types/src/v1/repository.rs
  core-workspace-types/src/v1/transport.rs
  core-workspace-types/src/v1/user.rs
  core-workspace-types/src/v1/workspace.rs
  open-sesame/Cargo.toml
  open-sesame/src/cli.rs
  open-sesame/src/doctor/mod.rs
  open-sesame/src/doctor/network.rs
  open-sesame/src/main.rs
  open-sesame/src/workspace.rs
  sesame-workspace/Cargo.toml
  sesame-workspace/src/config.rs
  sesame-workspace/src/convention.rs
  sesame-workspace/src/discover.rs
  sesame-workspace/src/forge/github.rs
  sesame-workspace/src/format.rs
  sesame-workspace/src/git/clone.rs
  sesame-workspace/src/git/inspect.rs
  sesame-workspace/src/git/mod.rs
  sesame-workspace/src/git/remote.rs
  sesame-workspace/src/git/workspace.rs
  sesame-workspace/src/inspection.rs
  sesame-workspace/src/lib.rs
  sesame-workspace/src/net.rs
  sesame-workspace/src/pool.rs
  sesame-workspace/src/progress.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

refactor(workspace): trait-based field inspectors, extract inspect_one_job, clippy compliance
  core-config/src/schema_workspace.rs
  core-workspace-types/src/v1/endpoint.rs
  core-workspace-types/src/v1/host.rs
  core-workspace-types/src/v1/namespace.rs
  core-workspace-types/src/v1/remote.rs
  core-workspace-types/src/v1/repository.rs
  core-workspace-types/src/v1/transport.rs
  core-workspace-types/src/v1/user.rs
  core-workspace-types/src/v1/workspace.rs
  open-sesame/src/workspace.rs
  sesame-workspace/src/convention.rs
  sesame-workspace/src/discover.rs
  sesame-workspace/src/format.rs
  sesame-workspace/src/git/clone.rs
  sesame-workspace/src/git/remote.rs
  sesame-workspace/src/git/workspace.rs
  sesame-workspace/src/inspection.rs
  sesame-workspace/src/lib.rs
  sesame-workspace/src/net.rs
  sesame-workspace/src/pool.rs
  sesame-workspace/src/progress.rs
Due: rust-format, rust-clippy

style(workspace): cargo fmt normalization
  core-workspace-types/src/v1/endpoint.rs
  core-workspace-types/src/v1/error.rs
  core-workspace-types/src/v1/host.rs
  core-workspace-types/src/v1/remote.rs
  core-workspace-types/src/v1/repository.rs
  core-workspace-types/src/v1/workspace.rs
  open-sesame/src/workspace.rs
  sesame-workspace/src/config.rs
  sesame-workspace/src/convention.rs
  sesame-workspace/src/discover.rs
  sesame-workspace/src/forge/github.rs
  sesame-workspace/src/format.rs
  sesame-workspace/src/git/remote.rs
  sesame-workspace/src/git/workspace.rs
  sesame-workspace/src/inspection.rs
  sesame-workspace/src/lib.rs
  sesame-workspace/src/net.rs
  sesame-workspace/src/pool.rs
Due: rust-format, rust-clippy

fix(workspace): remove rustdoc intra-doc links to private items
  sesame-workspace/src/inspection.rs
  sesame-workspace/src/pool.rs
Due: rust-format, rust-clippy

fix(workspace): default transport to HTTPS, suppress gix panic traces, bare path output
  core-config/src/schema_workspace.rs
  open-sesame/src/workspace.rs
  sesame-workspace/src/git/clone.rs
  sesame-workspace/src/git/remote.rs
Due: rust-format, rust-clippy

fix(workspace): box gix clone error to satisfy clippy result_large_err
  sesame-workspace/src/git/clone.rs
Due: rust-format, rust-clippy

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  ec45590f3bbe9ffffaedf0a1ded9ad475bdf5ae7
Due: none

feat(workspace): disk usage columns via dua-core, HTTPS default, bare path output
  Cargo.lock
  Cargo.toml
  open-sesame/src/cli.rs
  sesame-workspace/Cargo.toml
  sesame-workspace/src/format.rs
  sesame-workspace/src/inspection.rs
  sesame-workspace/src/lib.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

feat(workspace): commit date columns, relative time, --stale filter
  open-sesame/src/cli.rs
  open-sesame/src/workspace.rs
  sesame-workspace/src/format.rs
  sesame-workspace/src/inspection.rs
  sesame-workspace/src/lib.rs
Due: rust-format, rust-clippy

fix(nix): update cosmic-protocols outputHash after upstream force-push
  nix/package-desktop.nix
  nix/package.nix
Due: none

feat(workspace): disk usage columns via dua-core parallel filesystem traversal (#39)
  Cargo.lock
  Cargo.toml
  nix/package-desktop.nix
  nix/package.nix
  open-sesame/src/cli.rs
  open-sesame/src/workspace.rs
  sesame-workspace/Cargo.toml
  sesame-workspace/src/format.rs
  sesame-workspace/src/inspection.rs
  sesame-workspace/src/lib.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  a75f42272d4f00cf78a775acd0d543f2a5e1594e
Due: none
