Repository ScopeCreep-zip/open-sesame: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, rust-clippy, toml-format, toml-lint, markdown-lint, markdown-links, shell-lint, shell-format, actions-lint

rust-format:
  run: cargo fmt --check
  tags:
  - rust
  - format
  fail_text: 'Rust format check failed.
  
    Fix with: cargo fmt
  
    '

rust-clippy:
  run: cargo clippy --all-targets --all-features -- -D warnings
  tags:
  - rust
  - lint
  fail_text: 'Clippy check failed.
  
    Fix warnings before committing.
  
    '

toml-format:
  run: taplo fmt --check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML format check failed.
  
    Fix with: taplo fmt
  
    '

toml-lint:
  run: taplo lint {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    Check syntax in TOML files.
  
    '

markdown-lint:
  run: markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    Fix with: markdownlint-cli2 --fix [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - links
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected in markdown files.
  
    Run: lychee [files] for details.
  
    '

shell-lint:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell script lint failed.
  
    Fix issues reported by shellcheck.
  
    '

shell-format:
  run: shfmt -d {staged_files}
  tags:
  - bash
  - format
  fail_text: 'Shell format check failed.
  
    Fix with: shfmt -w [files]
  
    '

actions-lint:
  run: actionlint {staged_files}
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    Check syntax in workflow files.
  
    '

fix(nix): patch systemd unit ExecStart from /usr/bin/ to nix store path
  nix/package-desktop.nix
  nix/package.nix
Due: none

chore(release): 1.6.7 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  3a82de63addc9bbde95ca1f15be434f422acd121
Due: none

fix(headless): graceful pre-init state, desktop unit gating, systemd start limits
  contrib/systemd/open-sesame-clipboard.service
  contrib/systemd/open-sesame-input.service
  contrib/systemd/open-sesame-launcher.service
  contrib/systemd/open-sesame-profile.service
  contrib/systemd/open-sesame-secrets.service
  contrib/systemd/open-sesame-snippets.service
  contrib/systemd/open-sesame-wm.service
  daemon-profile/src/main.rs
  open-sesame/src/init.rs
Due: rust-format, rust-clippy

chore(release): 1.6.8 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  14e0fb12d68d54f8a062a19baa22cd8709caedf2
Due: none

fix(headless): graceful pre-init state, desktop unit gating, systemd start limits
  daemon-profile/src/main.rs
Due: rust-format, rust-clippy

chore(release): 1.6.9 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  6aaa59a1187b393fcd8af88638b655ec9c7924bd
Due: none

fix(daemon-profile): respond to StatusRequest during pre-init waiting state
  daemon-profile/src/main.rs
Due: rust-format, rust-clippy

chore(release): 1.6.10 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  dfd35e1c46b235b30d848b14c6993eac4d8967b2
Due: none

fix(daemon-profile): reload config on pre-init transition, collapse collapsible if
  daemon-profile/src/main.rs
  open-sesame/src/init.rs
Due: rust-format, rust-clippy

chore(release): 1.6.11 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  e08e26558656d7d7d18a72d8ec5b06cc4c66aaea
Due: none

fix(daemon-profile): 500ms init poll, ConfigurationDirectory for deb installs
  contrib/systemd/open-sesame-profile.service
  contrib/systemd/open-sesame-secrets.service
  daemon-profile/src/main.rs
Due: rust-format, rust-clippy

Notes added by 'git notes add'
  fbbbd37329ecb18b918baa1dcf3aba9f3cc8f13a
Due: none

chore(release): 1.6.12 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

fix(nix): move all dev tools from mise to flake devshell
  .mise.toml
  flake.nix
Due: toml-format, toml-lint

fix(nix): add patchelf to devshell nativeBuildInputs for deb builds
  flake.nix
Due: none

chore(release): 1.6.13 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  b9a45a8d664ae9eb3bb3cb60daf58f03bc03cf3e
Due: none

fix(mise): restore npm package comments removed in flake migration
  .mise.toml
Due: toml-format, toml-lint

Notes added by 'git notes add'
  cd0e7f682bf83d177c243d71021fecdceec7034c
Due: none

chore(release): 1.6.14 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

fix(ci): restore node, cargo-deb, cross in mise [tools] for CI runners
  .mise.toml
Due: toml-format, toml-lint

chore(release): 1.6.15 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  bb4f5792a360d0d3aa769cdf977c452ffdf9bccf
Due: none

fix(wm): launcher overlay works in zero-window and cross-workspace states
  contrib/systemd/open-sesame-profile.service
  daemon-wm/src/commands.rs
  daemon-wm/src/controller.rs
  daemon-wm/src/overlay.rs
  daemon-wm/tests/wm_integration.rs
Due: rust-format, rust-clippy

chore(release): 1.6.16 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  1531a0bf763c18bc2c658f86fe9ae12c84f4a315
Due: none

fix(wm): exit on dead compositor connection for systemd restart
  daemon-wm/src/main.rs
Due: rust-format, rust-clippy

chore(release): 1.6.17 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  19082cb7be4dd4acc0bac9a035f57c52f964f7c8
Due: none

fix(cosmic): use lowercase XKB keysym names in shortcut config
  platform-linux/src/cosmic_keys.rs
Due: rust-format, rust-clippy

chore(release): 1.6.18 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  6f911b75c6ad3ffc27d6fe3852f838dcfae96802
Due: none

fix(wm): recreate layer surface on compositor close instead of exiting
  daemon-wm/src/controller.rs
  daemon-wm/src/main.rs
  daemon-wm/src/overlay.rs
Due: rust-format, rust-clippy

fix(wm): fresh window enumeration on overlay activation, MRU pruning
  daemon-wm/src/controller.rs
  daemon-wm/src/main.rs
  daemon-wm/src/mru.rs
Due: rust-format, rust-clippy

chore(release): 1.6.19 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Path conditions:
  rust-format: any of: *.rs
  rust-clippy: any of: *.rs
  toml-format: any of: *.toml
  toml-lint: any of: *.toml
  markdown-lint: any of: *.md
  markdown-links: any of: *.md
  shell-lint: any of: *.sh
  shell-format: any of: *.sh
  actions-lint: any of: .github/workflows/*.{yml,yaml}
