Repository ScopeCreep-zip/open-sesame: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, rust-clippy, toml-format, toml-lint, markdown-lint, markdown-links, shell-lint, shell-format, actions-lint

lefthook.yml:

# lefthook.yml - Git hooks for Open Sesame
# https://github.com/evilmartians/lefthook
min_version: 1.12.0
assert_lefthook_installed: true
colors: true
no_tty: false

output:
  - execution_info
  - success
  - failure
  - summary

# Pre-commit hook - Quality gates before committing
pre-commit:
  parallel: true
  commands:
    # Rust checks
    rust-format:
      glob: "*.rs"
      run: cargo fmt --check
      tags: [rust, format]
      fail_text: |
        Rust format check failed.
        Fix with: cargo fmt

    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
      tags: [rust, lint]
      fail_text: |
        Clippy check failed.
        Fix warnings before committing.

    # TOML validation
    toml-format:
      glob: "*.toml"
      run: taplo fmt --check {staged_files}
      tags: [config, toml]
      fail_text: |
        TOML format check failed.
        Fix with: taplo fmt

    toml-lint:
      glob: "*.toml"
      run: taplo lint {staged_files}
      tags: [config, toml]
      fail_text: |
        TOML validation failed.
        Check syntax in TOML files.

    # Markdown checks
    markdown-lint:
      glob: "*.md"
      run: markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
      tags: [docs, markdown]
      fail_text: |
        Markdown style check failed.
        Fix with: markdownlint-cli2 --fix [files]

    markdown-links:
      glob: "*.md"
      run: lychee --offline {staged_files}
      tags: [docs, links]
      skip:
        - merge
        - rebase
      fail_text: |
        Broken links detected in markdown files.
        Run: lychee [files] for details.

    # Shell script checks
    shell-lint:
      glob: "*.sh"
      run: shellcheck {staged_files}
      tags: [bash, lint]
      fail_text: |
        Shell script lint failed.
        Fix issues reported by shellcheck.

    shell-format:
      glob: "*.sh"
      run: shfmt -d {staged_files}
      tags: [bash, format]
      fail_text: |
        Shell format check failed.
        Fix with: shfmt -w [files]

    # GitHub Actions
    actions-lint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
      tags: [ci, github]
      fail_text: |
        GitHub Actions validation failed.
        Check syntax in workflow files.

# Pre-push hook - Heavier validation before pushing
pre-push:
  parallel: true
  commands:
    test-suite:
      run: cargo test
      tags: [test]
      skip:
        - rebase
      fail_text: |
        Tests failed.
        Run: cargo test

    cargo-check:
      run: cargo check --all-targets --all-features
      tags: [rust, check]
      fail_text: |
        Cargo check failed.
        Run: cargo check --all-targets --all-features

    link-check:
      run: mise exec -- lychee --offline '**/*.md'
      tags: [docs, links]
      only:
        - ref: main
        - ref: master
      fail_text: |
        Link validation failed.
        Run: mise exec -- lychee '**/*.md'

# Commit message validation for conventional commits
commit-msg:
  commands:
    conventional-commits:
      run: npx commitlint --edit {1}
      fail_text: |
        Commit message does not follow conventional commits format.
        Format: <type>(<scope>): <subject>
        Types: feat, fix, perf, revert, docs, style, refactor, test, build, ci, chore

# Post-merge hook - Update after merging
post-merge:
  commands:
    cargo-update:
      run: cargo fetch
      tags: [deps]

Notes added by 'git notes add'
  56623373f1800a8cb4c2bbf3f09f127acffe9614
Due: none

feat(workspace): gix/git2 git backend, workspace auto-discovery, sesame clone
  Cargo.lock
  Cargo.toml
  core-config/src/schema_workspace.rs
  open-sesame/src/cli.rs
  open-sesame/src/main.rs
  open-sesame/src/workspace.rs
  sesame-workspace/Cargo.toml
  sesame-workspace/src/git.rs
  sesame-workspace/src/git/clone.rs
  sesame-workspace/src/git/inspect.rs
  sesame-workspace/src/git/mod.rs
  sesame-workspace/src/git/remote.rs
  sesame-workspace/src/git/workspace.rs
  sesame-workspace/src/lib.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  5422b4e0cca8817dd2c7fd78ec106345b2ab23b8
Due: none

fix(wm): HiDPI multi-monitor scale handling, deferred pool creation
  daemon-wm/src/overlay.rs
Due: rust-format, rust-clippy

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  223f1fbdf33fd8ae461a6b6716119d8de895b504
Due: none

fix(build): drop vendored-openssl, link system OpenSSL for git2 HTTPS
  Cargo.lock
  Cargo.toml
  open-sesame/Cargo.toml
Due: toml-format, toml-lint

chore(release): 1.7.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  10752b08653c9a0c500dd53ccad790a2ea6c158d
Due: none

feat(workspace): --project flag clones all repos in an org via forge API
  Cargo.lock
  Cargo.toml
  open-sesame/src/cli.rs
  open-sesame/src/main.rs
  open-sesame/src/workspace.rs
  sesame-workspace/Cargo.toml
  sesame-workspace/src/forge/github.rs
  sesame-workspace/src/forge/mod.rs
  sesame-workspace/src/lib.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  e359ea7b0fd6648a796574e869c4a3971b2ab1ac
Due: none

fix(build,wm): restore vendored-openssl, rewrite COSMIC dispatch to eliminate memory leak
  Cargo.lock
  Cargo.toml
  nix/package-desktop.nix
  nix/package.nix
  open-sesame/Cargo.toml
  platform-linux/src/backend_cosmic.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  9a31efdd325ed86d4578b525ac4e5ab80f281b36
Due: none

feat(cli): sesame status --doctor — system health and security posture
  Cargo.lock
  core-memory/src/alloc.rs
  core-memory/src/lib.rs
  open-sesame/Cargo.toml
  open-sesame/src/cli.rs
  open-sesame/src/doctor/daemon.rs
  open-sesame/src/doctor/memory.rs
  open-sesame/src/doctor/mod.rs
  open-sesame/src/doctor/platform.rs
  open-sesame/src/doctor/sandbox.rs
  open-sesame/src/main.rs
  platform-linux/src/backend_cosmic.rs
  sesame-workspace/src/git/mod.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  9e061d679eda3753ff767abff9fddc0cedcad6a6
Due: none

fix(ci): escape angle-bracket proc paths in rustdoc comments
  open-sesame/src/doctor/daemon.rs
  open-sesame/src/doctor/memory.rs
Due: rust-format, rust-clippy

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  d08a0b002565d9280efb109636a4d2d27b1f2332
Due: none

fix(ci): build nix cache from post-release main, not tag
  .github/workflows/release.yml
Due: actions-lint

chore(release): 1.9.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  44dfab24cec6b81e368df279182874bd6bf1b52f
Due: none

fix(ipc): rewrite key rotation protocol to eliminate registry timing inversion
  README.md
  core-ipc/src/client.rs
  core-ipc/src/lib.rs
  core-ipc/src/registry.rs
  core-ipc/src/server.rs
  core-ipc/tests/socket_integration.rs
  core-types/src/events.rs
  daemon-clipboard/src/main.rs
  daemon-input/src/main.rs
  daemon-launcher/src/main.rs
  daemon-profile/src/dispatch.rs
  daemon-profile/src/key_rotation.rs
  daemon-profile/src/main.rs
  daemon-secrets/src/dispatch.rs
  daemon-secrets/src/main.rs
  daemon-snippets/src/main.rs
  daemon-wm/src/main.rs
  open-sesame/src/cli.rs
  open-sesame/src/main.rs
Due: rust-format, rust-clippy, markdown-lint, markdown-links

chore(release): 1.9.3 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  463072f5b4c4a8c498076964202bb2b14f15b225
Due: none

fix(docs): quote mermaid node labels and remove emoji to fix GitHub rendering
  README.md
Due: markdown-lint, markdown-links

chore(release): 1.9.4 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  5eb7cd8fc7e185a1f91abe67e192048319bb9654
Due: none

chore(release): 1.9.5 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  634b545242bc47950d72c6b60e55dbaf8432b228
Due: none

feat(federation): type substrate, crypto primitives, and scaffolding for milestones 1–3
  Cargo.lock
  Cargo.toml
  contrib/systemd/open-sesame-network.service
  core-config/src/lib.rs
  core-config/src/loader_installation.rs
  core-config/src/schema.rs
  core-config/src/schema_crypto.rs
  core-config/src/schema_installation.rs
  core-config/src/schema_network.rs
  core-config/src/schema_vault_sync.rs
  core-crypto/Cargo.toml
  core-crypto/src/lib.rs
  core-crypto/src/network.rs
  core-ipc/src/message.rs
  core-profile/src/audit.rs
  core-types/src/constants.rs
  core-types/src/crypto.rs
  core-types/src/events.rs
  core-types/src/ids.rs
  core-types/src/lib.rs
  core-types/src/network.rs
  core-types/src/security.rs
  daemon-discovery/Cargo.toml
  daemon-discovery/src/lib.rs
  daemon-network/Cargo.toml
  daemon-network/src/main.rs
  daemon-profile/src/dispatch.rs
  daemon-profile/src/main.rs
  daemon-secrets/src/crud.rs
  daemon-secrets/src/dispatch.rs
  flake.lock
  nix/package-desktop.nix
  nix/package.nix
  open-sesame/src/cli.rs
  open-sesame/src/init.rs
  open-sesame/src/ipc.rs
  open-sesame/src/main.rs
  open-sesame/src/network.rs
  platform-linux/src/sandbox.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

feat(network): daemon-network transport daemon, TOFU store, Noise XX/IKpsk2, discovery bootstrap
  Cargo.lock
  Cargo.toml
  core-config/src/schema_network.rs
  daemon-discovery/Cargo.toml
  daemon-discovery/src/bootstrap.rs
  daemon-discovery/src/lib.rs
  daemon-network/Cargo.toml
  daemon-network/src/audit.rs
  daemon-network/src/config.rs
  daemon-network/src/control/bus.rs
  daemon-network/src/control/mod.rs
  daemon-network/src/flood/cookie.rs
  daemon-network/src/flood/mod.rs
  daemon-network/src/flood/pow.rs
  daemon-network/src/handshake.rs
  daemon-network/src/lib.rs
  daemon-network/src/main.rs
  daemon-network/src/metrics.rs
  daemon-network/src/noise/mod.rs
  daemon-network/src/noise/state.rs
  daemon-network/src/ratelimit/bucket.rs
  daemon-network/src/ratelimit/mod.rs
  daemon-network/src/sandbox.rs
  daemon-network/src/send.rs
  daemon-network/src/session/mod.rs
  daemon-network/src/session/replay.rs
  daemon-network/src/session/state.rs
  daemon-network/src/session/table.rs
  daemon-network/src/tofu/fingerprint.rs
  daemon-network/src/tofu/mod.rs
  daemon-network/src/tofu/store.rs
  daemon-network/src/transport/frame.rs
  daemon-network/src/transport/mod.rs
  daemon-network/src/transport/tcp.rs
  daemon-network/src/transport/udp.rs
  daemon-network/tests/integration/flood.rs
  daemon-network/tests/integration/two_peer.rs
  open-sesame/Cargo.toml
  open-sesame/src/cli.rs
  open-sesame/src/network.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

feat(federation): signed HandshakeAck, vault-log.db, init ceremony keypairs, TOFU reverse lookup
  Cargo.lock
  core-crypto/src/network.rs
  core-types/src/constants.rs
  core-types/src/network.rs
  daemon-network/src/handshake_ack.rs
  daemon-network/src/lib.rs
  daemon-network/src/tofu/store.rs
  daemon-secrets/Cargo.toml
  daemon-secrets/src/crud.rs
  daemon-secrets/src/dispatch.rs
  daemon-secrets/src/main.rs
  daemon-secrets/src/network_identity.rs
  daemon-secrets/src/vault_log.rs
  open-sesame/src/init.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(federation): clippy remediation, BEP-44 resolve loop, SWIM gossip, HandshakeAck wire test
  Cargo.lock
  Cargo.toml
  core-config/src/schema_network.rs
  core-types/src/events.rs
  daemon-discovery/Cargo.toml
  daemon-discovery/src/bootstrap.rs
  daemon-discovery/src/manager.rs
  daemon-network/Cargo.toml
  daemon-network/src/handshake.rs
  daemon-network/src/main.rs
  daemon-network/src/metrics.rs
  daemon-network/src/send.rs
  daemon-network/src/tofu/fingerprint.rs
  daemon-network/src/tofu/store.rs
  daemon-network/src/transport/frame.rs
  daemon-network/tests/integration/discovery.rs
  daemon-network/tests/integration/two_peer.rs
  daemon-profile/src/dispatch.rs
  open-sesame/src/cli.rs
  open-sesame/src/network.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(security): remediate 18 critical review findings across daemon-network, daemon-secrets, daemon-discovery
  core-crypto/src/network.rs
  core-types/src/network.rs
  daemon-discovery/src/mdns/announce.rs
  daemon-discovery/src/mdns/listen.rs
  daemon-discovery/src/mdns/socket.rs
  daemon-network/src/flood/cookie.rs
  daemon-network/src/handshake.rs
  daemon-network/src/main.rs
  daemon-network/src/send.rs
  daemon-network/src/tofu/fingerprint.rs
  daemon-network/src/transport/frame.rs
  daemon-network/tests/integration/flood.rs
  daemon-network/tests/integration/two_peer.rs
  daemon-secrets/src/crud.rs
  daemon-secrets/src/vault_log.rs
  open-sesame/src/network.rs
Due: rust-format, rust-clippy
