Repository ScopeCreep-zip/open-sesame: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, rust-clippy, toml-format, toml-lint, markdown-lint, markdown-links, shell-lint, shell-format, actions-lint

rust-format:
  run: cargo fmt --check
  tags:
  - rust
  - format
  fail_text: 'Rust format check failed.
  
    Fix with: cargo fmt
  
    '

rust-clippy:
  run: cargo clippy --all-targets --all-features -- -D warnings
  tags:
  - rust
  - lint
  fail_text: 'Clippy check failed.
  
    Fix warnings before committing.
  
    '

toml-format:
  run: taplo fmt --check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML format check failed.
  
    Fix with: taplo fmt
  
    '

toml-lint:
  run: taplo lint {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    Check syntax in TOML files.
  
    '

markdown-lint:
  run: markdownlint-cli2 --config .markdownlint-cli2.yaml {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    Fix with: markdownlint-cli2 --fix [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - links
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected in markdown files.
  
    Run: lychee [files] for details.
  
    '

shell-lint:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell script lint failed.
  
    Fix issues reported by shellcheck.
  
    '

shell-format:
  run: shfmt -d {staged_files}
  tags:
  - bash
  - format
  fail_text: 'Shell format check failed.
  
    Fix with: shfmt -w [files]
  
    '

actions-lint:
  run: actionlint {staged_files}
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    Check syntax in workflow files.
  
    '

fix(wm): prevent modifier poll premature commit on IPC re-activation
  daemon-wm/src/controller.rs
  daemon-wm/src/main.rs
  daemon-wm/src/overlay.rs
Due: rust-format, rust-clippy

fix(wm): show "Launch <app>" instead of "No matches" for staged launches
  daemon-wm/src/overlay.rs
  daemon-wm/src/render.rs
Due: rust-format, rust-clippy

feat(input,wm): route keyboard events via daemon-input IPC for compositor-independent overlay input
  Cargo.lock
  Cargo.toml
  core-types/src/lib.rs
  daemon-input/Cargo.toml
  daemon-input/src/keyboard.rs
  daemon-input/src/main.rs
  daemon-wm/src/main.rs
  daemon-wm/src/overlay.rs
  platform-linux/src/input.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(input): forward Alt/Meta releases unconditionally, remove synthetic
  daemon-input/src/keyboard.rs
  daemon-input/src/main.rs
Due: rust-format, rust-clippy

chore(nix): document input group requirement, add activation warning
  flake.nix
Due: none

fix(wm): move window list polling to dedicated OS thread
  daemon-wm/src/main.rs
Due: rust-format, rust-clippy

feat(platform): feature-gate GUI deps behind `desktop` for headless builds
  daemon-profile/Cargo.toml
  daemon-profile/src/main.rs
  flake.nix
  nix/package-headless.nix
  open-sesame/Cargo.toml
  open-sesame/src/init.rs
  open-sesame/src/main.rs
  platform-linux/Cargo.toml
  platform-linux/src/lib.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(sandbox): use directory-level Landlock rules for key rotation, gate activation log on success
  daemon-clipboard/src/main.rs
  daemon-input/Cargo.toml
  daemon-input/src/main.rs
  daemon-secrets/src/main.rs
  daemon-snippets/src/main.rs
  daemon-wm/src/main.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

feat(workspace): prepare all crates for sesame-workspace integration
  core-config/src/lib.rs
  core-config/src/loader.rs
  core-config/src/schema.rs
  core-config/src/validation.rs
  core-ipc/tests/socket_integration.rs
  core-types/src/lib.rs
  daemon-launcher/src/main.rs
  daemon-wm/src/controller.rs
  daemon-wm/src/hints.rs
  daemon-wm/src/main.rs
  daemon-wm/tests/wm_integration.rs
  open-sesame/src/main.rs
  platform-linux/src/compositor.rs
Due: rust-format, rust-clippy

fix(nix): include sesame-workspace crate in nix source filter
  nix/package-headless.nix
  nix/package.nix
Due: none

fix(auth): resolve all SSH-agent vault unlock post-implementation risks
  core-auth/src/backend.rs
  core-auth/src/lib.rs
  core-auth/src/password.rs
  core-auth/src/ssh.rs
  core-auth/src/ssh_types.rs
  core-crypto/src/secure_bytes.rs
  daemon-wm/src/main.rs
  open-sesame/src/main.rs
  open-sesame/tests/cli_integration.rs
Due: rust-format, rust-clippy

fix(wm): add landlock rules for vaults dir and SSH agent socket
  daemon-wm/src/main.rs
Due: rust-format, rust-clippy

feat(auth,sandbox): SSH agent forwarding support for multi-user VMs
  core-auth/src/ssh.rs
  daemon-profile/src/main.rs
  daemon-wm/src/main.rs
  flake.nix
Due: rust-format, rust-clippy

fix: resolve all clippy warnings across workspace
  core-auth/src/ssh.rs
  core-ipc/tests/socket_integration.rs
  core-profile/src/audit.rs
  daemon-clipboard/src/main.rs
  daemon-input/src/main.rs
  daemon-secrets/src/main.rs
  daemon-snippets/src/main.rs
  daemon-wm/src/mru.rs
Due: rust-format, rust-clippy

fix(ci): correct xtask cargo alias, downgrade ci:test to debug build
  .cargo/config.toml
  .mise.toml
Due: toml-format, toml-lint

fix(ci): correct apt deps, build gtk4-layer-shell from source
  .mise.toml
Due: toml-format, toml-lint

chore: add platform-macos and platform-windows module stubs
  platform-macos/src/accessibility.rs
  platform-macos/src/clipboard.rs
  platform-macos/src/input.rs
  platform-macos/src/keychain.rs
  platform-macos/src/launch_agent.rs
  platform-macos/src/tcc.rs
  platform-windows/src/clipboard.rs
  platform-windows/src/credential.rs
  platform-windows/src/hotkey.rs
  platform-windows/src/input_hook.rs
  platform-windows/src/named_pipe.rs
  platform-windows/src/policy.rs
  platform-windows/src/task_scheduler.rs
  platform-windows/src/ui_automation.rs
  platform-windows/src/virtual_desktop.rs
Due: rust-format, rust-clippy

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  392b6623a9e8b48389a256236fab372094d63365
Due: none

chore: remove internal analysis docs from tracked files
  CROSSCHECK.adversarial-review-validation.md
  Cargo.lock
  TRIAGE.security-protocol-analysis.md
Due: markdown-lint, markdown-links

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  e4ea7c6265daf85a841f5f3048ccdeed01d43d6a
Due: none

fix(sandbox): add D-Bus and Wayland syscalls to daemon-profile seccomp allowlist
  daemon-profile/src/main.rs
Due: rust-format, rust-clippy

Notes added by 'git notes add'
  917c16de497d3e92cf1c5f81d89d6aa6345aacc6
Due: none

fix(sandbox): complete seccomp allowlists for daemon-wm and daemon-secrets
  daemon-secrets/src/main.rs
  daemon-wm/src/main.rs
Due: rust-format, rust-clippy

fix(ipc): evict stale connection on key rotation reconnect
  core-ipc/src/server.rs
Due: rust-format, rust-clippy

fix(seccomp): add inotify syscalls for config hot-reload, add watchdog visibility
  core-ipc/src/server.rs
  daemon-clipboard/src/main.rs
  daemon-input/src/main.rs
  daemon-launcher/src/main.rs
  daemon-profile/src/main.rs
  daemon-secrets/src/main.rs
  daemon-snippets/src/main.rs
  daemon-wm/src/main.rs
Due: rust-format, rust-clippy

fix(systemd): use tmpfiles.d for runtime dir, drop broken RuntimeDirectory
  contrib/systemd/open-sesame-clipboard.service
  contrib/systemd/open-sesame-input.service
  contrib/systemd/open-sesame-launcher.service
  contrib/systemd/open-sesame-profile.service
  contrib/systemd/open-sesame-secrets.service
  contrib/systemd/open-sesame-snippets.service
  contrib/systemd/open-sesame-wm.service
  flake.nix
Due: none

fix(systemd): add missing ReadWritePaths for clipboard cache and fontconfig
  contrib/systemd/open-sesame-clipboard.service
  contrib/systemd/open-sesame-wm.service
  flake.nix
Due: none

feat(sandbox): resolve nix store symlinks for Landlock config access
  core-config/src/lib.rs
  core-config/src/loader.rs
  daemon-clipboard/src/main.rs
  daemon-input/src/main.rs
  daemon-launcher/src/main.rs
  daemon-profile/src/main.rs
  daemon-secrets/src/main.rs
  daemon-snippets/src/main.rs
  daemon-wm/src/main.rs
Due: rust-format, rust-clippy

feat(cli,auth): require explicit SSH key selection for enrollment
  core-auth/src/ssh.rs
  flake.nix
  open-sesame/src/main.rs
Due: rust-format, rust-clippy

Notes added by 'git notes add'
  fd868ecde9664bef01777696392b633d9c9b517d
Due: none

fix(auth): unwrap real master key from PasswordWrapBlob during SSH enrollment
  open-sesame/src/main.rs
Due: rust-format, rust-clippy

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-format, toml-lint, markdown-lint, markdown-links

Notes added by 'git notes add'
  c71866c1ab745e4b0ecf7ddd9255c6446a4b677b
Due: none

fix(ci): remove trailing blank line from apt Packages file
  .mise.toml
Due: toml-format, toml-lint

Notes added by 'git notes add'
  0321bcdfa679387b3163b65a83f917a348541bcb
Due: none

fix(wm,launcher): audit remediations, launch pipeline, overlay rewrite
  .mise.toml
  Cargo.lock
  Cargo.toml
  config.example.toml
  contrib/systemd/open-sesame-launcher.service
  core-fuzzy/src/search.rs
  core-types/src/lib.rs
  daemon-launcher/Cargo.toml
  daemon-launcher/src/main.rs
  daemon-launcher/src/scanner.rs
  daemon-wm/Cargo.toml
  daemon-wm/src/controller.rs
  daemon-wm/src/hints.rs
  daemon-wm/src/lib.rs
  daemon-wm/src/main.rs
  daemon-wm/src/mru.rs
  daemon-wm/src/overlay.rs
  daemon-wm/src/render.rs
  daemon-wm/tests/wm_integration.rs
  flake.nix
  nix/package.nix
  open-sesame/Cargo.toml
  open-sesame/src/init.rs
  open-sesame/src/main.rs
  platform-linux/src/cosmic_keys.rs
  platform-linux/src/sandbox.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

fix(security): harden memory protection, IPC clearance, and sandbox resilience
  Cargo.lock
  core-auth/src/password.rs
  core-auth/src/ssh.rs
  core-crypto/src/hkdf.rs
  core-crypto/src/kdf.rs
  core-crypto/src/secure_bytes.rs
  core-crypto/src/secure_vec.rs
  core-ipc/src/server.rs
  core-ipc/tests/socket_integration.rs
  core-types/Cargo.toml
  core-types/src/lib.rs
  core-types/src/sensitive.rs
  daemon-secrets/src/keyring.rs
  daemon-wm/src/main.rs
  open-sesame/src/init.rs
  open-sesame/src/ssh.rs
  open-sesame/src/unlock.rs
  platform-linux/src/sandbox.rs
Due: rust-format, rust-clippy, toml-format, toml-lint

Path conditions:
  rust-format: any of: *.rs
  rust-clippy: any of: *.rs
  toml-format: any of: *.toml
  toml-lint: any of: *.toml
  markdown-lint: any of: *.md
  markdown-links: any of: *.md
  shell-lint: any of: *.sh
  shell-format: any of: *.sh
  actions-lint: any of: .github/workflows/*.{yml,yaml}
